*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    cursor: default;
    user-select: none;
}

header{
    width: 100vw;
    height: 72px;
    background-color: #456d96;
    text-align: center;
    color: white;
}

main{
    margin: 10px;
    height: 75%;

    display: flex;
}

footer{
    position: relative;
    width: 100vw;
    height: 36px;
    background-color: #456d96;
    text-align: center;
    line-height: 36px;

    time{
        color: white;
    }

    div{
        position: absolute;
        top: 0;
        right: 10px;
        color: white;
    }
}

.btn{
    width: 100px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: lightcyan;
    border-radius: 10px;
}

.crono{
    width: 100px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: lightcoral;
    border-radius: 10px;
    color: white;
}

.sopa{
    border-collapse: collapse;
    height: 100%;
}

.punt{
    border-collapse: collapse;
    width: 400px;
    height: 30%;
}

.seleccion{
    background-color: yellow;

}

.correcto{
    background-color: lightgreen;
}

.incorrecto{
    background-color: lightcoral;
}

.tachado{
    text-decoration: line-through;
    color: lightgray;
}
td{
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

a{
    text-decoration: none;
}

.oculto{
    display: none;
}

#cont1, #cont2, #cont3{
    align-content: center;
    text-align: center;
    padding: 10px;
}

#cont3_1{
    display: flex;
    
    & div{
        margin: 10px;
    }
}

#palabras{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    & div{
        font-size: 18px;
        margin: 5px 10px;
        text-align: center;
    }
}